.App {
  background-color: #ffffff;
}

.feed {
  width: 50rem;
  margin: 2% auto;
}

.feed > .col-md-5 {
  margin: 0 auto;
}

.filters {
  width: 33rem;
  margin: 0 auto;
}

.filters > p {
  font-size: 10px;
  font-family: "Lato", sans-serif;
}

.dropdown > .btn {
  width: 10rem;
  font-size: 0.8rem;
  border-radius: 14px;
  background-color: #eceff4dd;
}

#dropdownMenuButton1 {
  color: #2e3440;
}

.btn-secondary {
  background-color: #434c5e;
}

.filters-row {
  margin-bottom: 0.5rem;
}

.form-check-label {
  font-size: 0.8rem;
}
