.feed {
    width: 75%;
    margin: 2% auto;
}

.feed > .col-md-5 {
    width: 30em;
    margin: 0 auto;
}

.navbar {
    background-color: #434C5E;
}

.profile {
    color: #ffffff;
}

.logo {
    color: #ffffff;
}

.tag {
    border: 0.5px solid gray;
    border-radius: 5rem;
    padding: 0 0.5rem;
}